<template>
  <el-tabs type="border-card" tab-position="top" class="tab">
    <tab-pane @createNew="createNewStamp" @removeEx="removeStamp" :data="data"/>
  </el-tabs>
</template>

<script>
import TabPane from './TabPane.vue'
export default {
  name: "app-main",
  components: {
    TabPane
  },
  methods: {
    createNewStamp(stamp) {
      this.$emit('createNew', stamp)
    },
    removeStamp(stamp) {
      this.$emit('removeEx', stamp)
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.tab {
    width: 100%;
}
</style>