<template>
  <el-col v-for="stamp in element.stamps" :key="stamp" :span="6" :xs="24" :sm="12" :md="8" :lg="6" :xl="4" style="margin-top: 10px">
    <el-card shadow="always" :body-style="{ padding: '0px', margin: '0px' }">
      <template #header>
        <div>
          <span>{{stamp}}</span>
        </div>
      </template>
      <el-image :src="'http://localhost:4000/static/?type=' + element.type + '&stamp=' + stamp" fit="fill" :lazy="false"></el-image>
      <change :stamp="stamp" :stype="element.type" @removeEx="removeStamp"/>
    </el-card>
  </el-col>
</template>

<script>
import Change from './card-footers/Change.vue'
export default {
  name: "col-existing",
  components: {
    Change
  },
  methods: {
    removeStamp(stamp) {
      this.$emit('removeEx', stamp)
    }
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  }
}
</script>
