<template>
  <el-tab-pane v-for="element in data" :label="element.type">
    <tab-row @createNew="createNewStamp" @removeEx="removeStamp" :element="element"/>
  </el-tab-pane>
</template>

<script>
import TabRow from './TabRow.vue'
export default {
  name: "tab-pane",
  components: {
    TabRow
  },
  methods: {
    createNewStamp(stamp) {
      this.$emit('createNew', stamp)
    },
    removeStamp(stamp) {
      this.$emit('removeEx', stamp)
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  }
}
</script>
