<template>
  <el-row :gutter="20">
    <col-existing :element="element" @removeEx="removeStamp"/>
    <el-col :span="6" :xs="24" :sm="12" :md="8" :lg="6" :xl="4" style="margin-top: 10px">
      <el-card shadow="always" :body-style="{ padding: '0px', margin: '0px' }">
        <template #header>
          <div>
            <span>Создать новый</span>
          </div>
        </template>
        <el-image :src="'http://localhost:4000/static/?type=' + element.type + '&stamp=new.png'" fit="fill" :lazy="false"></el-image>
        <new-dig-sig @createNew="createNewStamp" :element="element" v-if="element.type == 'digital_sign'"/>
        <new-entry-doc @createNew="createNewStamp" :element="element" v-if="element.type == 'entry_document'"/>
        <new-signed @createNew="createNewStamp" :element="element" v-if="element.type == 'signer'"/>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import ColExisting from './ColExisting.vue'
import NewDigSig from './card-footers/NewDigSig.vue'
import NewEntryDoc from './card-footers/NewEntryDoc.vue'
import NewSigned from './card-footers/NewSigned.vue'
export default {
  name: "tab-row",
  components: {
    ColExisting, NewDigSig, NewEntryDoc, NewSigned
  },
  methods: {
    createNewStamp(stamp) {
      this.$emit('createNew', stamp)
    },
    removeStamp(stamp) {
      this.$emit('removeEx', stamp)
    }
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>