<template>
  <div style="margin: 5px 5px 10px 10px">
    <el-button type="primary" size="default" @click="dialogFormVisible = true">Изменить</el-button>
    <el-dialog v-model="dialogFormVisible" title="Изменение штампа">
      <el-form :model="form" :inline="false" size="normal">
        <el-form-item label="Номер сертификата">
          <el-input v-model="cert_number"></el-input>
        </el-form-item>
        <el-form-item label="Владелец сертификата">
          <el-input v-model="cert_owner"></el-input>
        </el-form-item>
        <el-form-item label="Сертификат действителен">
          <el-input v-model="cert_expire"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit"></el-button>
          <el-button></el-button>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogFormVisible = false">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
    <el-button type="danger" size="default" style="margin-left: 5px" @click="removeStamp(stamp)">Удалить</el-button>
  </div>
</template>

<script>
export default {
  name: "change",
  data() {
    return {
      cert_number: '',
      cert_owner: '',
      cert_expire: '',
      dialogFormVisible: false
    }
  },
  methods: {
    removeStamp(stamp) {
      this.$emit('removeEx', stamp)
      this.dialogFormVisible = false
    }
  },
  props: {
    stamp: {
      type: Object,
      required: true
    },
    stype: {
      type: String,
      required: true
    }
  }
}
</script>
