<template>
  <div style="margin: 5px 5px 10px 10px">
    <el-button type="success" size="default" @click="dialogFormVisible = true">Добавить</el-button>
    <el-dialog v-model="dialogFormVisible" title="Создание штампа с усиленной эл. подписью">
      <el-form :model="form" :inline="false" size="normal">
        <el-form-item label="Номер сертификата">
          <el-input v-model="stamp.cert_number"/>
        </el-form-item>
        <el-form-item label="Владелец сертификата">
          <el-input v-model="stamp.cert_owner"/>
        </el-form-item>
        <el-form-item label="Сертификат действителен">
          <el-input v-model="stamp.cert_expire"/>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="createNewStamp">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "new-dig-sig",
  data() {
    return {
      stamp: {
        cert_number: '',
        cert_owner: '',
        cert_expire: '',
        type: "digital_sign"
      },
      dialogFormVisible: false
    }
  },
  methods: {
    createNewStamp() {
      this.$emit('createNew', this.stamp)
      this.dialogFormVisible = false
      this.stamp.cert_number = ''
      this.stamp.cert_owner = ''
      this.stamp.cert_expire = ''
    }
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  }
}
</script>
