<template>
  <div style="margin: 5px 5px 10px 10px">
    <el-button type="success" size="default" @click="dialogFormVisible = true">Добавить</el-button>
    <el-dialog v-model="dialogFormVisible" title="Создание штампа входящего документа">
      <el-form :model="form" :inline="false" size="normal">
        <el-form-item label="Юр. название компании">
          <el-input v-model="stamp.company_name"/>
        </el-form-item>
        <el-form-item label="Номер документа">
          <el-input v-model="stamp.document_num"/>
        </el-form-item>
        <el-form-item label="Дата">
          <el-input v-model="stamp.regdate"/>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="createNewStamp">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "new-dig-sig",
  data() {
    return {
      stamp: {
        company_name: '',
        document_num: '',
        regdate: '',
        type: "entry_document"
      },
      dialogFormVisible: false
    }
  },
  methods: {
    createNewStamp() {
      this.$emit('createNew', this.stamp)
      this.dialogFormVisible = false
      this.stamp.company_name = ''
      this.stamp.document_num = ''
      this.stamp.regdate = ''
    }
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  }
}
</script>
