<template>
  <div style="margin: 5px 5px 10px 10px">
    <el-button type="success" size="default" @click="dialogFormVisible = true">Добавить</el-button>
    <el-dialog v-model="dialogFormVisible" title="Создание штампа подписанта">
      <el-form :model="form" :inline="false" size="normal">
        <el-form-item label="ФИО Подписанта">
          <el-input v-model="stamp.signer_ini"/>
        </el-form-item>
        <el-form-item label="Номер доверенности">
          <el-input v-model="stamp.authority_num"/>
        </el-form-item>
        <el-form-item label="Дата">
          <el-input v-model="stamp.regdate"/>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="createNewStamp">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "new-dig-sig",
  data() {
    return {
      stamp: {
        signer_ini: '',
        authority_num: '',
        regdate: '',
        type: "signer"
      },
      dialogFormVisible: false
    }
  },
  methods: {
    createNewStamp() {
      this.$emit('createNew', this.stamp)
      this.dialogFormVisible = false
      this.stamp.signer_ini = ''
      this.stamp.authority_num = ''
      this.stamp.regdate = ''
    }
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  }
}
</script>
