<template>
  <el-container :direction="vertical">
    <el-header height="30px">
        Менеджер штампов
    </el-header>
    <el-container :direction="horizontal">
      <app-main @createNew="createNewStamp" @removeEx="removeStamp" :data="data"/>
    </el-container>
  </el-container>
</template>

<script>
import AppMain from './components/AppMain.vue'
import axios from 'axios'
export default {
  components: { AppMain },
  data() {
    return {
      data: [],
      options: '',
      last_response: ''
    }
  },
  methods: {
    async fetchStamps() {
      try {
        const response = await axios.get('http://localhost:4000/api/stamp')
        this.data = response.data
      } catch (error) {
        console.error("Data request error")
      }
    },
    async createNewStamp(stamp) {
      console.log(stamp)
      try {
        switch (stamp.type) {
          case "digital_sign":
            this.options = [
              stamp.cert_number,
              stamp.cert_owner,
              stamp.cert_expire
            ]
            break;
          case "entry_document":
            this.options = [
              stamp.company_name,
              stamp.document_num,
              stamp.regdate
            ]
            break;
          case "signer":
            this.options = [
              stamp.signer_ini,
              stamp.authority_num,
              stamp.regdate
            ]
            break;
          default:
            break;
        }
        const response = await axios.post('http://localhost:4000/api/stamp', {
          type: stamp.type,
          options: this.options
        })
        this.fetchStamps()
        console.log(response)
      } catch (error) {
        console.log(stamp)
        console.error(error)
      }
    },
    async removeStamp(stamp) {
      try {
        const response = await axios.delete('http://localhost:4000/api/stamp?stamp=' + stamp)
        this.fetchStamps()
        console.log(response)
      } catch (error) {
        console.error(error)
      }
    }
  },
  mounted() {
    this.fetchStamps()
  }
}
</script>

<style>
* {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
